<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<form th:action="@{/auth/registration}" th:method="POST" th:object="${user}">

    <label for="username">Введите имя пользователя: </label>
    <input type="text" id="username" th:field="*{username}">
    <p th:if="${#fields.hasErrors('username')}"
       th:errors="*{username}"
       style="color: red">
        ERRORS
    </p>

    <br/>

    <label for="password">Введите пароль: </label>
    <input type="password" id="password" th:field="*{password}">

    <br/>
    <br/>

    <input type="submit" value="Зарегистрироваться!">
</form>
</body>
</html>